include ChangeLog
include LICENSE.ja.txt LICENSE.txt
include MANIFEST.in
include engineer_number/locale/engineer_number.pot
include engineer_number/locale/engineer_number.*.po
include engineer_number/locale/*/LC_MESSAGES/engineer_number.mo
