# EngineerNumber
# Copyright (C) 2013-2017 梅濁酒(umedoblock)
# 梅濁酒(umedoblock) umedoblock@gmail.com, 2013-2017
#
msgid ""
msgstr ""
"Project-Id-Version: 1.0.5\n"
"POT-Creation-Date: 2013-02-17 08:02+JST\n"
"PO-Revision-Date: 20xx-xx-xx xx:xx+0900\n"
"Last-Translator: 梅濁酒(umedoblock) umedoblock@gmail.com\n"
"Language-Team: Japanese umedoblock@gmail.com\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Generated-By: pygettext.py 1.5\n"
